@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&family=Ubuntu:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
@font-face {
  font-family: lucid;
  src: url("https://cdn.glitch.global/e23c6d22-e86e-4765-a3d2-14f786559329/Euclid%20Circular%20A%20Medium.ttf?v=1651332812845");
}
* {
  text-align: center;
}
body {  
  background-color: #343a40;
  margin: 0px;
}
.homeImg { 
  width: 100px;
  cursor: pointer;
  padding-left: 10px;
  padding-right: 20px;
}
#topnav {  
  display: flex;
  align-items: center;  
  background-color: #333333;
  width: 100%;
  height: 10vh;
  min-height: 50px;
  color: #cfdcee;
}
#topnav a {  
  color: #cfdcee;
  padding: 10px 12px;
  font-size: 25px;
  cursor: pointer;
  font-family: "Ubuntu Condensed", sans-serif;
  text-decoration: none;
}
#topnav a:hover { 
  opacity: 0.6;
  transition: 0.4s;
}
hr { 
  width: 50%;
  margin-bottom: 50px;
}
h1 { 
  font-family: "Ubuntu", sans-serif;
  color: #5e8bc5;
  vertical-align: middle;
  font-size: 50px;
  margin-top: 15px;
}
p { 
  color: #b4c9e4;
  font-family: "rubik", sans-serif;
  font-size: 30px;
}
#information{
  margin: auto;
  width: 85%;
  margin-top: 100px;
}
#information p{
  font-size: 25px;
}
#fullScreenLogo{
  max-width: 90%;
  max-height: 60%;
  width: auto;
  height: auto;
  display: block;
  margin: auto;
  margin-top: 5vh;
}
#fullScreenHeader{
  height: 90vh;
}
.container { 
  max-width: 900px;
  color: #333333;
  margin: auto;
}
.posts {
  display: grid;
  margin-top: 10px;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px 15px;
}
.page-wrapper {
  position: relative;
  background-color: #e2eaf5;
  height: 160px;
  overflow: visible;
  border-radius: 10px;
}
.page-inner {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
  z-index: 0;
}
.corner-img {
  position: absolute;
  left: -10px;
  top: -10px;
  z-index: 1;
  width: 50px;
  height: 50px;
  pointer-events: none;
}
.link-background {
  background-color: #e2eaf5;
  background-position: 50%;
  background-size: auto 100%;
  height: 160px;
  width: 100%;
  background-repeat: no-repeat;
}
.link-title {
  background: #ffffff;
  padding: 14px 20px;
  font-weight: 700;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  white-space: nowrap;
  border-radius: 5px;
  display: flex;
  align-items: flex-end;
  z-index: 2;
  color: #333333 !important;
  opacity: 0;
  font-size: 16px;
  font-family: Roboto, sans-serif;
}
.link-title:hover {
  opacity: 1;
  transition: 0.4s;
}
.link-background:hover + .link-title {
  opacity: 1;
  transition: 0.4s;
}
.link-background:hover {
  opacity: 0.5;
  transition: 0.4s;
}
#dropdown {
  overflow: hidden;
  display: inline-block;
}
#dropdown #dropbtn {
  border: none;
  outline: none;
  background-color: inherit;
  margin: 0;
  display: inline-block;
  overflow: hidden;
  color: #cfdcee;
  padding: 10px 12px;
  font-size: 25px;
  cursor: pointer;
  font-family: "Ubuntu Condensed", sans-serif;
  text-decoration: none;
}
#dropdown-content {
  display: none;
  position: absolute;
  background-color: #2c2c2c;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
  z-index: 10;
}
#dropdown-content a {
  float: none;
  color: #cfdcee;
  padding: 8px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: 18px;
}
#dropbtn:hover,
#dropdown-content a:hover {
  opacity: 0.6;
  transition: 0.4s;
}
#dropdown:hover #dropdown-content {
  display: block;
}
#key{
  display: block;
  position: fixed;
  right: 15px;
  color: white;
  font-family: "Ubuntu Condensed", sans-serif;
  background-color: #A5B4C7;
  border: 2px solid #4275B7;
  border-radius: 10px;
  z-index: 4;
}
#keyTitle{
  font-size: 30px;
  font-family: "lucid";
  margin: 20px;
}
.color{
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10px;
}
.keyColor{
  min-width: 20px;
  min-height: 20px;
  border: 2px solid white;
  border-radius: 4px;
  margin-left: 20px;
}
.keyColorImportant{
  background-color: #A5B4C7; 
  box-sizing: border-box; 
  border: 4px solid yellow;
  border-radius: 4px;
  margin-left: 20px;
  width: 24px; 
  height: 24px;
}
.keyText{
  color: white;
  margin-left: 10px;
}
#timeline{
  font-family: "Ubuntu Condensed", sans-serif;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  overflow-y: hidden;
  overflow-x: auto;
  scroll-behavior: smooth;
  white-space: nowrap;
}
.centerLine{
  border: 0px solid #b4c9e4;
  border-top-width: 1px;
  border-bottom-width: 1px;
  width: 2800px;
  position: absolute;
  z-index: -1;
}
.top, .bottom{
  position: absolute;
  display: grid;
  place-items: center;
  width: auto;
}
.date{
  width: 100px;
  text-align: middle;
  position: absolute;
  color: white;
  font-size: 30px;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  top:10%;
}
.text{
  border: 2px solid white;
  border-radius: 4px;
  position: absolute;
  padding: 10px;
}
.text:hover > .info {
  display: block;
}
.text:hover{
  z-index: 3;
}
.codingProj{
  background-color: #1C314C;
  cursor: pointer;
}
.buildingProj{
  background-color: #2C4E7A;
  cursor: pointer;
}
.learn{
  background-color: #4275B7;
}
.special{
  border: 2px solid yellow !important;
}
.fun{
  background-color: #6993C9;
}
.header{
  font-size: 20px;
  color: white;
}
.info{
  margin-top: 3px;
  font-size: 12px;
  color: white;
  transition: opacity .4s;
  overflow: hidden;
  display: none;
}.line{
  position: absolute;
  border-left: 1px solid #b4c9e4;
  border-right: 1px solid #b4c9e4;
  width: 0px;
  z-index: -1;
}
#expertise{
  display: flex;
  justify-content: center;
  align-items: center;
}
#expertise img{
  margin: 10px;
}
#expertise div{
  background-color: grey;
  border-radius: 10px;
  margin: 10px;
}
#rightIMG{
  width: 50px;
  height: 50px;
}
#leftIMG{
  width: 50px;
  height: 50px;
}
#centerIMG{
  width: 100px;
  height: 100px;
}
#explanation{
  background-color: grey;
  max-width: 700px;
  width: 75%;
  margin: auto;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 10px;
}
#explanation p{
  font-size: 15px;
  min-height: 110px;
  display: none;
}
a{
  color: white;
  text-decoration: none;
}
#actualExp{
  display: block !important;
}
.engAcademyP{
  font-size: 25px;
  margin-bottom: 50px;
}
@media only screen and (max-width: 1400px) {
  .header{
    font-size: 15px;
  }
  .text{
    padding: 7px;
    border-width: 1px;
  }
  .date{
    top: 5%;
  }
  #key{
    border: 2px solid #4275B7;
  }
}
@media only screen and (max-width: 1000px) {
  .posts {
    grid-template-columns: repeat(3, 230px);
    justify-content: center;
  }
  .page-wrapper {
    width: 230px;
    height: 130px;
  }
  .link-background {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.75);
    transform-origin: center center;
    width: 200%;
    height: 130px;
  }
  .link-title {
    font-size: 14px;
    padding: 10px 15px;
  }
  .engAcademyP{
    font-size: 20px;
  }
}
@media only screen and (max-width: 800px) {
  .posts {
    grid-template-columns: repeat(3, 150px);
    gap: 10px;
  }
  .page-wrapper {
    width: 150px;
    height: 80px;
  }
  .corner-img {
    width: 40px;
    height: 40px;
  }
  .link-background {
    transform: translate(-50%, -50%) scale(0.5);
  }
  .link-title {
    font-size: 10px;
    padding: 6px 10px;
  }
  #topnav a, #dropdown #dropbtn {
    padding: 10px 7px;
    font-size: 20px;
  }
  .homeImg {
    width: 40px;
    padding: 5px;
    padding-right: 10px;
    content: url("/assets/turkeyLogo.png") !important;
  }
  h1{
    font-size: 25px;
  }
  #information{
    width: 90%;
  }
  #information p{
    font-size: 18px;
  }
  .header{
    font-size: 12px;
  }
  .text{
    padding: 5px;
  }
  .info{
    font-size: 8px;
  }
  #keyTitle{
    font-size: 15px;
    margin: 8px;
  }
  .color{
    margin-left: 5px;
    margin-bottom: 4px;
  }
  .keyColor{
    min-width: 12px;
    min-height: 12px;
    border: 1px solid white;
    margin-left: 3px;
  }
  .keyColorImportant{
    width: 14px; 
    height: 14px;
    margin-left: 3px;
    border: 3px solid yellow;
  }
  .keyText{
    margin-left: 10px;
    margin-right: 5px;
    font-size: 12px;
  }
  .date{
    font-size: 20px;
  }
  .engAcademyP{
    font-size: 14px;
  }
}
@media only screen and (max-width: 500px) {
  #topnav a, #dropdown #dropbtn {
    padding: 8px 5px;
    font-size: 15px;
  }
  .posts {
    grid-template-columns: repeat(3, 120px);
    gap: 8px;
  }
  .page-wrapper {
    width: 120px;
    height: 65px;
  }
  .link-title {
    font-size: 8px;
    padding: 5px 8px;
  }
  .corner-img {
    width: 30px;
    height: 30px;
  }
  p{
    font-size: 20px
  }
  #information p{
    font-size: 15px;
  }
  #explanation p{
    font-size: 10px;
    min-height: 90px;
    display: none;
  }
  #expertise img{
    margin: 10px;
  }
  #expertise div{
    border-radius: 5px;
    margin: 5px;
  }
  #expertise h3{
    font-size: 30px !important;
  }
  #rightIMG{
    width: 25px;
    height: 25px;
  }
  #leftIMG{
    width: 25px;
    height: 25px;
  }
  #centerIMG{
    width: 50px;
    height: 50px;
  }
  .engAcademyP{
    font-size: 10px;
  }
  
}
@media only screen and (max-width: 400px) {
  #topnav a, #dropdown #dropbtn {
    padding: 8px 5px;
    font-size: 12px;
  }
}
@media only screen and (max-height: 400px) {
  #fullScreenLogo{
    margin-top: 0px;
  }
  #fullScreenHeader p{
    margin: 0;
    padding: 0;
    font-size: 20px;
  }
  #fullScreenHeader hr{
    margin-bottom: 8vh;
  }
}
